.section-dish {
    padding-bottom: 20rem;

    @include respond(tab-land) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    & .row {

        & .col-md-4 {
            position: relative;
            height: 30rem;
            transition: all .3s;
            text-align: center;

            @include respond(tab-land) {
                max-width: 50%;
                text-align: center;
                flex: none;
            }

            &:not(::last-child) {

                @include respond(tab-land) {
                    margin-bottom: 15rem;
                }
            }

            @include respond(phone) {
                margin-bottom: 12rem;
                max-width: 100%;
                text-align: center;
                flex: none;
            }

            &:last-child {

                @include respond(tab-land) {
                    margin: -2rem auto;
                }

                @include respond(tab-land) {
                    margin: 0 auto;
                }
            }

            &:hover figure::before {
                border: 2px solid red;
            }

            &:hover {

                & figure::after {
                    border: 2px solid red;
                }

                & img {
                    transform: translateX(-50%) scale(.8);
                    filter: grayscale(100%);

                    @include respond(tab-port) {
                        filter: grayscale(0) !important;
                        transform: none;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 90%;
                height: 100%;
                top: 15rem;
                background-image: linear-gradient(to bottom, #e6e4e4, #fff);
                border-top-right-radius: 6rem;
                border-top-left-radius: 6rem;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;

                @include respond(tab-land) {
                    width: 90%;
                    left: 50%;
                }
            }

            & figure {
                width: 90%;
                height: 30rem;
                margin: 0 auto;
                margin-bottom: 4rem;

                @include respond(tab-land) {
                    text-align: center;
                    transform: translateX(-50%);
                    position: relative;
                    left: 46%;
                }

                &:hover::before {
                    transform: translateX(-50%) scale(.5);
                }

                &:hover::after {
                    transform: translateX(-50%) scale(.8);
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 82%;
                    height: 100%;
                    left: 50%;
                    border: 2px solid #4d4d4d;
                    border-radius: 50%;
                    transform: translateX(-50%) scale(.75);
                    z-index: 2;
                    transition: all .3s;

                    @include respond(tab-land) {
                        width: 23rem;
                        height: 22.5rem;
                        top: 3.6rem;
                        left: 50%;
                        transform: translateX(-50%) scale(1);
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 80%;
                    height: 100%;
                    left: 50%;
                    border: 2px solid #4d4d4d;
                    border-radius: 50%;
                    transform: translateX(-50%) scale(.97);
                    z-index: 2;

                    @include respond(tab-land) {
                        width: 30rem;
                        height: 30rem;
                    }
                }

                & img {
                    width: 30rem;
                    height: 30rem;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%) scale(.98);
                    margin-left: -1.2rem;
                    border-radius: 50%;
                    transition: all .5s;
                    background: transparent;

                    @include respond(tab-land) {
                        transform: none;
                        left: .3rem;
                    }
                }
            }
        }
    }

    &--links {
        text-align: center;
        font-size: 2.2rem;
        color: #000;
        font-weight: 600;

        & i {
            margin-left: 1rem;
            font-size: 1.3rem;
            margin-top: -0.5rem;
        }
    }
}