body { 
    font-family: 'Comfortaa', cursive;
}

h1, h2 , h3 {
    font-family: 'Poppins';
}

p {
    font-family: 'Poppins', cursive;
    color: $color-text;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none !important;
    font-family: 'Poppins';
}